@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

/* -----------------------------------------------------------------------
                             Declarar variable
   ----------------------------------------------------------------------- */

:root {
    /* Paleta de colores */
    --color-blanco:#fff;
    --color-negro:#000;
    --color-azul:#3079d9;
    --color-grisoscuro:#454545;
    --color-celesteclaro:#d0dff2;

    /* Tipos de letra */
    --fuente-principal: 'Poppins', sans-serif;
}

/* -----------------------------------------------------------------------
                  Selector universal de toda la pagina 
   ----------------------------------------------------------------------- */
* {
    /* Quita el margen y espaciado predeterminado */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* -----------------------------------------------------------------------
                  Selectores de estilo de tipo HTML 
   ----------------------------------------------------------------------- */
html {
    /* suaviza el desplazamiento del scroll en la pagina */
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuente-principal) /* tipo de letra */
}

h1 {
    /* text-align: ---> posicion del texto */
    font-size: 48px; /* Tama침o de letra */
    font-weight: 900; /* Grosor de la letra */
}


h2 {
    font-size: 36px;
    font-weight: 200;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;

    position: relative;
}

h2::after {
    content: "";
    width: 100px;
    background-color: var(--color-azul);
    height: 1.5px;

    position: absolute;
    bottom: 0px;
    left: calc(50% - 50px);
}

h3 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5; /* Interlineado */
    padding-bottom: 10px;

    /* text-align: justify ---> opcional no recomendado */
}

span {
    color: var(--color-azul);
    font-weight: 700;
}

img {
    display: block; /* quita el espacio que aparece en la parte inferior de la imagen*/
}

video {
    display: block; /* quita el espacio que aparece en la parte inferior de la imagen*/
}

/* -----------------------------------------------------------------------
    Selectores de estilo de tipo ID */ /* Solo se puede llamar una sola vez
   ----------------------------------------------------------------------- */

#cabecera { /* Regla de estilo */

    background-color: var(--color-blanco); /* Color de fondo */
    color: var(--color-azul); /* Color del texto */
    padding-top: 20px;
    padding-bottom: 20px;

    /* Posicionamiento pegajoso "stiky" */
    position: sticky;

    /* coordenadas */
    top: 0px;

    /* Traer la cabecera encima de los otros elementos */
    z-index: 1000;
   
}

#nosotros {
    background-color: var(--color-grisoscuro);
    color: var(--color-celesteclaro);
}

#historia {
    background-color: var(--color-celesteclaro);
    color: var(--color-grisoscuro);
}

#alumnos {
    background-color: var(--color-blanco);
    color: var(--color-grisoscuro);
}

#alumnos img {
    border-radius: 50%;
}

#alumnos h3 {
    text-align: center;
}

#programas {
    background-color: var(--color-grisoscuro);
    color: var(--color-blanco);
}

#eventos {
    /* background-color: var(--color-blanco); */
    background-color: var(--color-grisoscuro);
    
    background: linear-gradient(155deg, var(--color-blanco) 50%, var(--color-celesteclaro) 80%);
}

#eventos>.contenedor>.row>.columna {

    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border: 2px solid rgba(48, 121, 217, 0.1); 
    box-shadow: 0 15px 20px 0 rgb(32 54 70 / 20%) !important;

}

#graduacion {
    background-image: url("../imagenes/graduacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; /* Resalta el area especificada de una imagen */
    background-attachment: fixed; /* La imagen se queda fija al hacer scroll ---> opcional */
}

#pie {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    line-height: 36px;
    padding-top: 45px;
    padding-bottom: 45px;
}

#pie a {
    color: var(--color-blanco);
    text-decoration: none;
    margin-left: 15px;
}

#pie .redessociales i {
    font-size: 30px;
}

#pie .row {
    justify-content: space-between;
}

#carreras {
    background-color: var(--color-blanco);
    color: var(--color-grisoscuro);
}

#carreras ul {
    list-style-type: circle; /* disc, square, circle */
}

#carreras ol {
    list-style-type: upper-roman;
}

#admision {
    background-color: var(--color-celesteclaro);
    color: var(--color-grisoscuro);
}

#investigaciones {
    background-color: var(--color-celesteclaro);
    color: var(--color-grisoscuro);
}

#conferencia {
    background-color: var(--color-grisoscuro);
    color: var(--color-blanco);
}

#conferencia img {
    filter: grayscale(80%);
}

.conferencia-foto {
    position: relative;
}

.conferencia-foto-descripcion {
    position: absolute;

    /* coordenadas de ubicacion */
    top: 0px;
    left: calc(50% - 200px);

    background-color: rgba(69, 69, 69, 0.644);
    width: 400px;
    padding: 10px;
}

#proyectos {
    background-color: var(--color-blanco);
    color: var(--color-grisoscuro);
}

#proyectos img {
    transition: all 0.5s ease-in-out;
}

#proyectos img:hover {
    filter: sepia(100%);
}

#scroll-arriba {
    position: fixed;

    /* coordenadas de posicionamiento */
    bottom: 30px;
    right: 30px;

    /* decorar el bot칩n */
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    border: var(--color-blanco) 2px solid;
}

#scroll-arriba:hover {
    background-color: var(--color-grisoscuro);
    color: var(--color-blanco);
    transform: translateY(-5px);
    box-shadow: -3px 8px 25px 0px rgba(24,41,64,40%);

    /* transicion */
    transition: all 0.3s ease-in-out;
}

/* -----------------------------------------------------------------------
    Selectores de estilo de tipo CLASS */ /* Se puede llamar varias veces
   ----------------------------------------------------------------------- */

.espaciado { /* paddet (ingles) */
    padding-top: 90px; /* Espaciado superior e inferior entre el borde y el contenido*/
    padding-bottom: 90px; /* Espaciado inferior e superior entre el borde y el contenido*/
}

.contenedor { /* container (ingles) */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

.row {
    display: flex; /* Flexbox */
    flex-direction: row; /* Los elementos hijo se ponen en fila */

    /* Eliminar el espacio producido por el padding de las columnas */
    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    flex-basis: 0%; /* Elimina el ancho de la caja */
    flex-grow: 1; /* Agranda la caja */

    /* Espacio entre el borde la columna y el contenido */
    padding-left: 15px;
    padding-right: 15px;
}

.img_ajustarancho {
    width: 100%;
    height: auto;
}

.columna-75 {
    flex-basis: 75%;
    max-width: 75%;
}

.columna-50 {
    flex-basis: 50%;
    max-width: 50%;
}

.columna-33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.columna-25 {
    flex-basis: 25%;
    max-width: 25%;
}

.texto-enorme {
    font-size: 50px;
    font-weight: 200;
    line-height: 1.5;
}

.texto-resaltar {
    color: #3079d9;
    font-weight: 900;
}

/* -------------------------------------- 
       Estilos para la barra de menu 
   -------------------------------------- */

.logo {
    width: 120px;
}

.menu-barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-opciones {
    list-style-type: none;
}

.menu-opciones a {
    text-decoration: none;
    color: var(--color-azul);
}

.menu-items {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.menu-items li {
    padding: 15px 15px;
    border-bottom: transparent 3px solid;
    transition: all 0.4s ease-in-out;
}

.menu-items li:hover {
    border-bottom: var(--color-azul) 3px solid;
}

/* -------------------------------------------- 
       Clase para la pagina en construccion 
   -------------------------------------------- */

.construccion {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-ubicacion {
    background-color: rgba(69, 69, 69, 0.6);
    color: var(--color-blanco);
    text-align: center;

    padding-top: 35px;
    padding-bottom: 35px;
}

.texto-columnas {
    column-count: 4;
    column-gap: 30px;
    column-rule: 2px dotted #000000;
}

.eventos-foto {
    position: relative;
}

.eventos-foto-descripcion {
    /* activa flexbox para centrar verticalmente el contenido de la caja hijo */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* posicionamiento */
    position: absolute;

    top: 0px;
    left: 0px;

    /* tama침o */
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;

    /* oculta la caja hijo */
    opacity: 0;

    /* transicion */
    transition: all 0.3s ease-in-out;
}

.eventos-foto-descripcion:hover {
    /* mostramos la caja hijo */
    opacity: 1;

    background-color: rgba(69, 69, 69, 0.753);
    color: var(--color-blanco);
}

.mover-derecha:hover {
    transform: translateX(10px);
}

.agrandar5:hover {
    transform: scale(105%);
}

.mover-izquierda:hover {
    transform: translateX(-10px);
}

.caja-overflow {
    overflow: hidden;
}

.extension-video {
    position: relative;
}

.extension-video-descripcion {
    position: absolute;
    
    top: 10%;
    left: 5%;
    color: var(--color-blanco);
}

/* ajusta el tama침o del video al ancho y altura de la ventana */
.video-responsive {
    aspect-ratio:  16 / 9; /* 16 / 9, 4 / 3, 21 / 9*/
    width: 100%;
    height: auto;
}

.formato-iframe {
    border-radius: 25px;
}

#contactanos-formulario p{
    margin: 20px 0px;
    text-align: center;

}

#contactanos-formulario h3{
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}

.form-campo {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: var(--color-grisoscuro) 1px solid;
    font: inherit;
}

.boton-enviar {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    width: 50%;
    padding: 20px 0px;
    border: none;
    border-radius: 15px;
    font: inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boton-enviar:hover {
    background-color: var(--color-grisoscuro);
}
